/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.max-container{
    display: flex;
}
header{
    width: 150px;
    height: calc(100vh - 80px);
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: none;
}
header ul li a:hover{
    color: white;
}
.disc-select-upper ul li a,header ul li a{
    text-decoration: none;
    color: #6c6f74;
}
.disc-select-upper ul li a:hover{
    color: white;
}
.simple-logo{
    display: none;
}
.main-icons{
    padding: 0 1.2rem;
    list-style-type: none;
    font-size: 0.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.main-icons li i,.user-options li i{
    vertical-align: middle;
    padding-right: 0.25rem;
}

.line-header{
    width: 100%;
    border: 0.5px solid #424242;
    margin: 0.5rem 0;
}

.add-icon i{
    vertical-align: middle;
}
.playlist{
    /* background-color: aqua; */
    padding: 0 1.2rem;
    list-style-type: none;
    font-size: 0.5rem;
    font-weight: 600;
}
.user-options{
    /* background-color: aqua; */
    padding: 0 1.2rem;
    list-style-type: none;
    font-size: 0.5rem;
    font-weight: 600;
}

header li{
    margin-bottom: 0.5rem;
    color: #5d5d5d;
}
.color-white{
    color: white;
}
#spotify-logo{
    padding: 1rem 0;
}
#spotify-logo>img{
    width: 100px;
}
main{
    height: calc(100vh - 80px);
    width: calc(100% - 150px);
    background-color: #141922;
    display: flex;
    overflow-y: scroll;
}

.upper-button-section{
    background-color: #080b12;
    height: 10%;
    width: calc(100% - 150px);
    text-align: right;
    padding-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
}
button{
    font-size: 0.6rem;
    font-weight: bold;
    padding: 0.55rem 1.5rem;
    border: none;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    background-color: #000000;
}
.disc-select-upper{
    margin-top: 6rem;
    color: #2c3038;
    max-width: 1200px;
    font-size: 0.7rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
.selections{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
}
.selections li{
    margin-right: 1rem;
}
.recently-played,.john-doe,.artisti-piu-popolari{
    padding: 0 1rem;
}
.disc-wrapper{  
    display: flex;
    flex-wrap: wrap;
}
.disc-container{
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: calc(100% / 6 - 1rem);
}
.image-disc:hover img{
    filter: grayscale(100%);
}
.image-disc{
    position: relative;
}
.image-disc i{
    display: none;
}
.image-disc:hover i{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.disc-container .image-disc img {
    width: 100%;
}
h1{
    font-size: 1.3rem; 
    margin-bottom: 1rem;  
}
.john-doe h1{
    margin-bottom: 0.5rem;
}
.text-container{
    text-align: center;
}
.disc-container .disc-name{
    margin: 0.5rem 0;
    font-size: 0.85rem;
}
.disc-container .sub-disc{
    font-size: 0.6rem;
    color: #6f7277;
}
.listen-advice{
    margin-bottom: 1rem;
    color: #4b4e55;
    font-size: 0.65rem;
    font-weight: bold;
}
.round-image{
    border-radius: 50%;
    object-fit: cover;
}
footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: #282828;
}
.left-side{
    background-color: aquamarine;
    width: 10%;
    height: 100%;
}
.mid-section{
    background-color: darkgreen;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    justify-content: space-around;
}
.time span{
    font-size: 0.5rem;
}
.line-time{
    width: 80%;
    background-color: #5a5a5a;
    border-radius: 0.5rem;
}
.line-duration{
    width: 30%;
    border: 1.5px solid #c1c1c1;

}

.right-side{
    background-color: rgb(43, 31, 219);
    width: 20%;
    height: 100%;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/


 /* da lg 992 a  md 768px */

 @media screen and (max-width: 992px) {

    .disc-container{
          width: calc(100% / 4 - 1rem);
    }
 }


  /* da md 768px a sm 576px */

  @media screen and (max-width: 768px) {
    .disc-container{
            width: calc(100% / 2 - 1rem);
        }
    .disc-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
  }


    /* da sm 576 a  xs 0px */

    @media screen and (max-width: 576px) {
        header{
            width: 10%;
        }
        main{
            width: calc(100% - 10%);
        }
        .main-icons{
            padding: 0 0.5rem;
            text-align: center;
        }
        .main-icons a{
            display: none;
        }
        .user-options{
            text-align: center;
        }
        .user-options a{
            display: none;
        }
        #spotify-logo img{
            width: 40px;
        }
        .user-options{
            padding: 0;
        }
        .line-header{
            display: none;
        }
        .simple-logo{
            display: block;
            height: 25px;
        }
        .full-logo{
            display: none;
        }
        .playlist{
            display: none;
        }
        .upper-button-section{
            width: calc(100% - 10%);
        }
    }